*, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

body {
  min-height: 100vh;
  background: hsl(200, 0%, 25%);
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {
  --RADIUS: calc(var(--SIZE) * 0.1);
  --GAP: calc(var(--SIZE) * 0.075);
  /* background: hsl(200, 0%, 75%); */
  background: #162658;
  display: grid;
  grid-template-rows: repeat(var(--ROWS), var(--SIZE));
  grid-template-columns: repeat(var(--COLS), var(--SIZE));
  border-radius: var(--RADIUS);
  gap: var(--GAP);
  padding: var(--GAP);
  position: relative;
  z-index: -1;
}

.cell {
  /* background: hsl(200, 0%, 60%); */
  background: #5368a7;
  border-radius: var(--RADIUS);
  width: var(--SIZE);
  height: var(--SIZE);
}

.tile {  
  width: var(--SIZE);
  height: var(--SIZE);
  border-radius: var(--RADIUS);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(var(--Y) * (var(--SIZE) + var(--GAP)) + var(--GAP));
  left: calc(var(--X) * (var(--SIZE) + var(--GAP)) + var(--GAP));
  animation-fill-mode: forwards;
  transition-property: top, left;
  transition-duration: calc(var(--DIST) * var(--DURATION));
  transition-timing-function: linear;
  font-size: calc(var(--SIZE) * 0.35);
}

.settings-wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10vmin;
  height: 10vmin;
  background: hsl(200, 0%, 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  cursor: pointer;
  border: none;
}

.settings-image {
  width: 7vmin;
  height: 7vmin;
}

.settings-wrapper:hover {
  background:hsl(200, 0%, 70%)
}

.settings-popup {
  position: absolute;
  width: 70vmin;
  height: 70vmin;
  background: hsl(200, 0%, 60%);
  border-radius: 5vmin;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  visibility: hidden;
}

.settings-header,
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vmin;
}

label {
  position: absolute;
  left: 5vmin;
}

.ms {
  position: absolute;
  right: 5vmin;
}

input {
  text-align: center;
  outline: none;
  width: 26vmin;
  height: 8vmin;
  border-radius: 3vmin;
  border: none;
  font-size: 150%;
  position: absolute;
  right: 12vmin;
  border: 0.35vmin solid black
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.close {
  width: 7.5vmin;
  height: 7.5vmin;
  background: red;
  border-radius: 2vmin;
  position: absolute;
  right: 2vmin;
  top: 2vmin;
  background: white;
  border: 0.35vmin solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;  
  cursor: pointer;
}

input[type=number] {
  -moz-appearance: textfield;
}
@keyframes popout {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

@keyframes merge {
  80% {
    transform: scale(1.2)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes shrink {
  20% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(0)
  }
}