*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7vmin;
  font-weight: bold;
}

body {
  min-height: 100vh;
  background: hsl(200, 0%, 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#board {
  position: absolute;
  background: hsl(200, 0%, 75%);
  display: grid;
  grid-template-rows: repeat(4, 20vmin);
  grid-template-columns: repeat(4, 20vmin);
  border-radius: 1.5vmin;
  gap: 1.5vmin;
  padding: 1.5vmin;
}

.tile-setup{
  background: hsl(200, 0%, 60%);
  border-radius: 1.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tile {
  background: hsl(200, 100%, 90%);
  animation: pop 100ms;
  animation-fill-mode: forwards;
}

@keyframes pop {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}